@tailwind base;
@tailwind components;
@tailwind utilities;

.js-hamburger-open span:nth-child(1) {
  @apply w-0 top-1.5 left-1/2;
}

.js-hamburger-open span:nth-child(2) {
  @apply rotate-45;
}

.js-hamburger-open span:nth-child(3) {
  @apply -rotate-45;
}

.js-hamburger-open span:nth-child(4) {
  @apply w-0 top-1.5 left-1/2;
}

.js-mobileNav-open {
  @apply block;
}

.lazy.loaded {
  @apply opacity-100;
}

.testGrid{
  display: flex;
  justify-content: center;
  align-content: center;
}

.jobCard{
  @apply py-4 px-3 bg-gray-200 mb-2 rounded-sm
}
.jobnCard.title{
    font-size: 20px;
    font-weight: bold;
}

body {
  --white: #fafafa;
  --sky: #00ccff;
  --red: #fe0222;
  --slate: #C0C2C9;
  --background: var(--blue);
  --accent: var(--white);
}


#progress {
  position: fixed; 
  top: 0;
  right: 30%;
  transform: rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 10%;
  fill: transparent;
}

.bg {
  stroke: var(--slate);
  opacity: 0.3;
}

#progress .indicator {
  stroke: var(--red);
}

#prog_id{
  @apply invisible md:visible; 
  position: fixed;
  width: 50px;
  right: 2em;
  z-index: 10;
  height: 50px;
  padding: 1em;
}
.unscrolled{
  @apply opacity-0 
}
.scrolled{
  @apply opacity-100 transition-all duration-500 ease-in-out
}
.center-icon {
  position: absolute;
  position: absolute;
  top: -100%;
  left: 70%;
}

.circle-progress {
  position: absolute;
  left: 0;
  top: 0;
}